<div ng-controller="ExampleCtrl">
	<form role="form">
	  <div class="form-group">
	    <label for="title" class="control-label">Title</label>
	    <input type="text" ng-model="question.title" class="form-control" id="title" placeholder="Enter the movie title"/>
	  </div>
	  <div class="form-group">
	    <label for="title" class="control-label">Options</label>
	    <input type="text" ng-model="question.options[0]" class="form-control" id="title" placeholder="Vaihtoehto 1"/>
	    <input type="text" ng-model="question.options[1]" class="form-control" id="title" placeholder="Vaihtoehto 2"/>
	    <input type="text" ng-model="question.options[2]" class="form-control" id="title" placeholder="Vaihtoehto 3"/>
	    <input type="text" ng-model="question.options[3]" class="form-control" id="title" placeholder="Vaihtoehto 4"/>
	  </div>
	  <input type="submit" class="btn btn-primary" ng-click="saveQuestion()" value="Save"/>
	</form>
</div>