.option-container {
	cursor:pointer;
	border: 1px solid #eee;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 3px;
	
	transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}
.option-container.is-correct {
	background-color: green;
}
.option-container.is-wrong {
	background-color: red;
}